.container
  .mt-5
    %h2.center-align My Hemigrams
    .container.mt-5
      - @user_parameters.each do |parameter|
        %p= parameter.capitalize
        .mb-5.chart
          = line_chart(graphs_parameter_values_per_day_path(parameter: parameter.capitalize), discrete: true, ytitle: Hemigram::PARAMETERS.dig(parameter.to_sym, :chart_unit))