.container
  .mt-5
    %h2.center-align My Hemigrams
    .container.mt-5
      - @user_parameters.each do |parameter|
        %p= parameter.capitalize
        .mb-5.chart
          - chart_unit = Hemigram::PARAMETERS.dig(parameter.to_sym, :chart_unit)
          - min = Hemigram::PARAMETERS.dig(parameter.to_sym, :lower_limit)
          - max = Hemigram::PARAMETERS.dig(parameter.to_sym, :upper_limit)

          -# graph_annotations are defined in a view helper
          = line_chart(graphs_parameter_values_per_day_path(parameter: parameter.capitalize), discrete: true, colors: ["red"], thousands: ',', decimal: '.', precision: 2, ytitle: chart_unit, library: graph_annotations(min, max))


