-# /view_users/:user_id/hemigrams
.container.mt-5.mb-5
  .header-title.p-0.m-0
    %h2
      %span.text-highlight Hemigrams
    = turbo_frame_tag "hemigram_turbo_frame" do
      = link_to 'new hemigram', new_hemigram_path, class: 'btn btn-outline-dark'
    = render @hemigrams
