.user-account-section.mb-5
  .container
    %h1
      %span.text-highlight Welcome
    %p
      Username:
      = @user.username
    %p
      User is admin?:
      = @user.admin?

    %p= link_to('Change your password', edit_user_registration_path, class: 'btn btn-outline-dark')

    %h2.mt-5 Chart settings
    %p Select the parameters for which you want to display the charts
    .row
      .col-9.mb-3
        = render partial: '/hemigrams/chart_settings/check_boxes', locals: { current_user: , chart_setting: @chart_setting}

