-# this partial is substituting the select on the form when the first dropdown with parameter name is selected
= turbo_frame_tag "unit_options" do
  = select_tag('hemigram[unit]', options_for_select(options), class: 'form-select', required: true)