.cookie-banner{style: "display: none;"}
  %p
    The website uses cookies to enhance your experience and provide analytics. The tracking will only apply for the landing page and will not be done on the tracking app.
    By continuing to use this website, you consent to the use of cookies as described in our <a href="/cookie-policy">Cookie Policy</a>
    If you do not wish the tracking, you can block the storage of cookies in your browser settings, use a private window or decline the consent here.

    #{link_to 'Here', 'https://cookie-script.com/cookie-scanner'} you can scan for the Cookies used by this website.
  .cookie-buttons
    %button.btn.btn-success#accept-cookies
      Accept
    %button.btn.btn-warning#decline-cookies
      Decline


