.row.justify-content-center
  .col-md-6.col-s-12
    - if model.errors.any?
      .alert.alert-warning
        - model.errors.full_messages.each do |msg|
          %ul.list-unstyled.list-group
            %li.list-group-item= msg

