-# Filters the hemigram index page table by search term (case insensitive)
.mb-3
  = form_tag hemigrams_path, method: :get, id: 'search-form' do
    .row.row-cols-auto
      .col
        = text_field_tag :search, params[:search], placeholder: 'Filter Hemigram entries', class: 'form-control'
      .col
        = submit_tag 'Filter', name: nil, class: 'btn btn-outline-dark'
