#background-section
  .container
    .header-wrapper
      .header-subtitle
        %h3.sub-title Background
      %hr.separator-element
      .header-title
        %h1
          %span.text-highlight
            Thrombocytes, Hemoglobin are Hieroglyphs to you?
    .bg-content.pt-5
      .dictionary
        = render('accordion-cells')
      .wrapper-blood-cell-image
        = image_tag('blood-cell-types.png', alt: 'blood cell types description')
        #cells-credit.image-credit{'data-tooltip': 'Image by brgfx on Freepik'}
          = link_to('source', 'https://www.freepik.com/free-vector/type-blood-cells_18233500.htm#&position=11&from_view=collections#position=11')