#background-section
  .container
    .header-wrapper
      .header-subtitle
        %h3.sub-title Background
      %hr.separator-element
      .header-title
        %h1
          %span.text-highlight
            Thrombocytes, Hemoglobin are Hieroglyphs to you?
    .bg-content.pt-5
      .dictionary
        = render('accordion-cells')
      .wrapper-blood-cell-image
        = image_tag('blood-cell-types.png', alt: 'blood cell types description')
