#news-section
  .container
    .header-wrapper
      .header-subtitle
        %h3.sub-title Stay informed
      %hr.separator-element
      .header-title
        %h1
          %span.text-highlight Get the latest news
    %p.news-content-text.pt-5.d-flex.flex-row.justify-content-between
      Discover the latest news relevant to blood health in this section.
      = link_to('More news >', news_path, class: 'card-link card-news-link text-right')
    = render partial: 'pages/news', locals: { news: @all_news }
