#problem-section
  .container
    .header-wrapper
      .header-subtitle
        %h3.sub-title The Problem
      %hr.separator-element
      .header-title
        %h2
          %span.text-highlight Why Should I Care
    %p.pt-5
      Do you need to undergo regular blood tests? This might be necessary if you have diabetes, certain types of cancer, or simply want to monitor your health to understand any changes and trends. Additionally, if you switch doctors, you may want to quickly update them about your blood health status.
