#main-section
  .container
    .text
      %h1
        A
        %span.text-highlight free
        and
        %span.text-highlight anonymous
        blood values tracker
      %p.sub-title start monitoring your blood values today and discover potential health risks
  #deco-left= image_tag('hero-section-deco-left.png', alt: 'decoration element left')
  #deco-right= image_tag('hero-section-deco-right.png', alt: 'decoration element right')
= render('problem_section')
= render('background_section')