.container.mb-5.mt-5
  .header-title.p-0.m-0
    %h1
      %span.text-highlight Cookie policy

  .cookie-policy-content.mt-5
    %h3 Cookie Policy
    %p
      At Blood Tracker, I value your privacy and strive to provide a transparent browsing experience. This Cookie Policy explains how I use cookies and similar tracking technologies on my website, particularly on the
      =link_to('landing page.', root_path)

    %h3 What are Cookies?
    %p Cookies are small text files that are placed on your device when you visit a website. They are widely used to enhance user experience, analyze website traffic, and provide personalized content and advertisements.

    %h3 Google Analytics
    %p On the landing page, I utilize Google Analytics, a web analytics service provided by Google, to gather insights into website usage and improve my services. Google Analytics cookies collect anonymous information such as your IP address, browser type, and pages visited. This helps me to understand how visitors engage with my website and enables me to make informed decisions to enhance your experience.

    %h3 Pinterest Ad Tracking
    %p In addition, I utilize Pinterest ad tracking to optimize our advertising efforts and deliver personalized content. Pinterest cookies enable me to measure the effectiveness of my marketing campaigns and provide you with relevant advertisements tailored to your interests.

    %h3 Your Choices
    %p By continuing to use my website, you consent to the use of cookies as described in this Cookie Policy. However, you have the option to control and manage cookies through your browser settings. You can choose to block or delete cookies, or set your browser to alert you when cookies are being sent. Please note that by disabling cookies, certain features and functionalities of my website may be affected.

    %h3 Third-Party Websites
    %p Please note that my website may contain links to third-party websites that have their own cookie policies. I recommend reviewing the cookie policies of those websites as I do not have control over the cookies they set or their privacy practices.

    %h3 Updates to this Cookie Policy
    %p I may update this Cookie Policy from time to time to reflect changes in my practices or applicable regulations. I encourage you to review this page periodically for any updates.


    %p If you have any questions or concerns regarding the use of cookies, please feel free to contact me.