.glossary-section
  .container.pt-4
    .header-title.p-0.m-0
    %h2.mb-5
      %span.text-highlight Glossary
    .section#hemoglobin-glossary
      TEST hemoglobin
    .section#thrombocythes-glossary
      TEST thrombos
