- provide(:title, 'The BloodTracker: Imprint')
- provide(:description, 'Legal information, company details, and contact information for The BloodTracker.')

.container.mb-5.mt-5
  .header-title.p-0.m-0
    %h1
      %span.text-highlight Imprint

  %p.mt-5 Responsible for the website content:

  %h2.mt-5 Contact
  %address
    %p Theresa Mannschatz
    %p Hildegardstr
    %p 10715 Berlin
    %p Germany

  %phone
    %p +49 15124045227
    %p rese_m(at)web.de

  %h2.mt-5 Liability Notice
  %p Despite careful content control, I assume no liability for the content of external links. The operators of the linked pages are solely responsible for their content.

  %h2.mt-5 Copyright Notice
  %p The content and works created by the website operator on this website are subject to German copyright law. Reproduction, editing, distribution, and any kind of exploitation beyond the limits of copyright require written consent from the respective author or creator. Downloads and copies of this site are permitted for private, non-commercial use only.

  %h2.mt-5 Cookie Policy
  = link_to('My cookie policy', cookie_policy_path, title: 'Go to the cookie policies')

  %h2.mt-5 Images and animation sources
  %p
    The animation on the landing page was created by
    = link_to 'Gabriel Valfridsson', 'https://codepen.io/GabbeV/pen/DMRPox', title: 'Go to the codepen example page of Gabriel Valfridsson'