.container
  %h1 Imprint

  %p Responsible for the website content:

  %h3 Contact
  %address
    %p Theresa Mannschatz
    %p Hildegardstr
    %p 10715 Berlin
    %p Germany

  %phone
    %p +49 15124045227
    %p rese_m(at)web.de

  %h3 Liability Notice:
  %p Despite careful content control, I assume no liability for the content of external links. The operators of the linked pages are solely responsible for their content.

  %h3 Copyright Notice:
  %p The content and works created by the website operator on this website are subject to German copyright law. Reproduction, editing, distribution, and any kind of exploitation beyond the limits of copyright require written consent from the respective author or creator. Downloads and copies of this site are permitted for private, non-commercial use only.