@import "materialize-css/sass/components/_color-variables";
$colors: (
        "materialize-red": $materialize-red,
        "red": $red,
        "pink": $pink,
        "purple": $purple,
        "deep-purple": $deep-purple,
        "indigo": $indigo,
        "blue": $blue,
        "light-blue": $light-blue,
        "cyan": $cyan,
        "teal": $teal,
        "green": $green,
        "light-green": $light-green,
        "lime": $lime,
        "yellow": $yellow,
        "amber": $amber,
        "orange": $orange,
        "deep-orange": $deep-orange,
        "brown": $brown,
        "blue-grey": $blue-grey,
        "grey": $grey,
        "shades": $shades
);

// edit general theme colors in this sass file here:
// @import "materialize-css/sass/components/_variables";

@import 'materialize-css/sass/materialize';


/****************+***************/
/******* START CSS *********+****/
/****************+***************/

.logo {
  max-width: 10%;
  margin: 10px;
}
