
/****************+***************/
/******* START CSS *********+****/
/****************+***************/


.logo {
  max-width: 10%;
  margin: 10px;
}


.pagination li.active a {
  color: #fff;
}

.alert-success {
  background-color: #4D7C8A;
}

.alert-danger {
  background-color: #F5B82E;
}
