/**********************/
/**** Chart styles *****/
/**********************/

@import 'variables';

.chart {
  background-color: white;
  padding: 1em;
}

.chart-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

