@import 'variables';

footer {
  // the $yellow with 50% transparence
  background-color: rgba(232, 225, 168, 1);
}

.footer-wrapper {
  padding-top: 2em;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#copyright a {
  color: $red;
}