// stlyes for the glossary page
// thebloodtracker.com/glossary

.glossary-section {
  height: 100%;
  width: 100vw;
}

.glossary-entry {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-items: flex-start;
  background-color: white;
  padding-top: 2em;
}

.glossary-header {
  font-family: 'Montserrat', sans-serif;
  font-size: larger;
  text-align: right;
}

.glossary-content {
  padding-left: 2em;
}