@import 'variables';

// Styles for the hemigram index page

.hemigram-index .accordion-button:active,
.hemigram-index .accordion-button:focus,
.hemigram-index .accordion-button:not(.collapsed) {
  background-color: $yellow !important;
  color: #4b4515;
  border: solid 1px $yellow;
  border-radius: 1px;
}

.hemigram-index .accordion-header {
  border: solid 2px $yellow;
  border-radius: 5px;
}

.hemigram-index .accordion-button.collapsed {
  background-color: $beige !important;
  color: black;
  border: solid 2px white;
  border-radius: 3px;
}

.hemigram-index .accordion-button:after {
  color: black;
}

.accordion-flush .accordion-item {
  background-color: white;
  border-radius: 5px;
}

// Coloring / Highlighting blood values out of norm ranges
.too-low {
  background-color: $yellow;
  &:before {
    font: var(--fa-font-solid);
    content: "\f063";
    margin-right: 5px;
  }
}

.too-high {
  background-color: $rosa;
  &:before {
    font: var(--fa-font-solid);
    content: "\f062";
    margin-right: 5px;
  }
}

.within-norm {
  background-color: $green;
  &:before {
    font: var(--fa-font-solid);
    content: "\f164";
    margin-right: 5px;
  }
}