@import 'variables';

@media (max-width: 767px) {
  // Mobile styles

  #main-section {
    align-items: flex-start;
    justify-content: center !important;
    margin-top: 10vh;
    background-position: left bottom;
    background-size: cover;
    overflow: hidden;
    text-align: center;
    background-image: url('hero_illustration_circles_mobile.svg');
  }
  #main-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .text {
    max-width: 100%;
  }

  .navbar > .container, .navbar > .container-fluid {
    flex-wrap: nowrap;
  }

  #deco-left {
    z-index: -100;
  }

  .header-wrapper {
    text-align: center;
  }

  .pt-5 {
    text-align: center;
  }

  .bg-content {
    flex-direction: column-reverse;
    align-items: center;
  }

  .dictionary {
    margin-right: 0;
    width: 100%;
    text-align: left;
  }
  .wrapper-blood-cell-image {
    width: 100%;
    margin-bottom: 10%;
  }
  .wrapper-blood-cell-image {
    max-width: 90%;
  }
  .news-content-text {
    flex-direction: column !important;
  }
}


@media (max-width: 375px) {
  // Mobile styles

  #main-section {
    align-items: flex-start;
    justify-content: center;
    background-size: 150%;
    text-align: center;
    background-position: right bottom;
  }

  .navbar-brand {
    max-width: 100vw;
    font-size: 2em;
  }
}