/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";

// import variables, like color definitions
@import 'variables';

// import scss files
@use "news_section";
@use "navbar";
@use "main_section";
@use "background_section";
@use "footer";

/****************+***************/
/******* START CSS *********+****/
/****************+***************/

body, html {
  background-color: $rosa;
  height: 100%;
}

// ensure that the main elements are not overlapped by the navbar
main {
  margin-top: 15vh;
}

/* flash error messages*/
#flash-errors {
  margin-top: 15vh;
}
.alert {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
}

// image crediting tooltip
.image-credit {
  position: relative;
  font-size: 0.8em;
  color: white;
}
.image-credit a {
  color: white;
  text-decoration: none;
}
.image-credit::before {
  content: attr(data-tooltip);
  position: absolute;
  right: 0%;
  bottom: 100%;
  opacity: 0;
}
.image-credit:hover::before {
  opacity: 1;
}

/*********************/
/*** Devise Views ****/
/*********************/

.devise-views {
  margin-top: 10%;
  margin-left: 20%;
}

.devise-errors {
  width: 30vw;
}

/***********************/
/*** Section headers ***/
/***********************/

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 1em;
}

hr.separator-element {
  border-top: 4px solid $red;
  border-radius: 5px;
  width: 5%;
  margin-top: 0;
  margin-bottom: 0.5em;
  opacity: 1;
}

.header-title {
  margin: 0.5em;
}

/***********************/
/*** Sections ***/
/***********************/

#problem-section,
#news-section,
#affiliate-marketing-section,
#app-features-section {
  min-height: 40vh;
  background-color: $yellow;
}

#app-features-section img {
  width: 100%;
}