/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";

/****************+***************/
/******* START CSS *********+****/
/****************+***************/

$red: #EB001B;
$rosa: #E4ACC0;

body, html {
  background-color: $rosa;
  height: 100%;
}

/**** Nav Bar ****/
nav.navbar {
  background-color: $rosa !important;
}

.logo {
  max-width: 10%;
  margin: 10px;
}

.navbar-brand {
  font-size: 2em;
  font-weight: 500;
  font-family: 'Rowdies', cursive;
}

#logo-blood {
  text-decoration: underline double $red 2px;
}

#logo-tracker {
  color: $red;
  padding-left: none;
}

/********************/
/*** Main section ***/
/********************/

#main-section {
  height: 70vh;
  background-color: $rosa;
  background-image: url('hero_illustration.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.text {
  max-width: 50vw;
}

.text-highlight {
  background-color: $red;
  border-radius: 2px;
  color: white;
  padding: 0 3px;
}

.pagination li.active a {
  color: #fff;
}

.alert-success {
  background-color: #4D7C8A;
}

.alert-danger {
  background-color: #F5B82E;
}
