/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";

// import variables, like color definitions
@import 'variables';

// import scss files
@use "news_section";

/****************+***************/
/******* START CSS *********+****/
/****************+***************/

body, html {
  background-color: $rosa;
  height: 100%;
}

// ensure that the main elements are not overlapped by the navbar
main {
  margin-top: 15vh;
}

/* flash error messages*/
#flash-errors {
  margin-top: 15vh;
}
.alert {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}


p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
}

// image crediting tooltip
.image-credit {
  position: relative;
  font-size: 0.8em;
  color: white;
}
.image-credit a {
  color: white;
  text-decoration: none;
}
.image-credit::before {
  content: attr(data-tooltip);
  position: absolute;
  right: 0%;
  bottom: 100%;
  opacity: 0;
}
.image-credit:hover::before {
  opacity: 1;
}

/*********************/
/*** Devise Views ****/
/*********************/

.devise-views {
  margin-top: 10%;
  margin-left: 20%;
}

.devise-errors {
  width: 30vw;
}

/********************/
/**** NavBar ****/
/********************/

nav.navbar {
  background-color: $rosa !important;
}

.brand-image-wrapper {
  max-width: 10%;
  margin: 10px;
}
.logo {
  width: 100%;
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 500;
  font-family: 'Rowdies', cursive;
}

#brand {
  display: flex;
  flex-direction: row;
}

#logo-blood {
  text-decoration: underline $red 4px;
}

#logo-tracker {
  color: $red;
  padding-left: none;
}

/***********************/
/*** Section headers ***/
/***********************/

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 1em;
}

hr.separator-element {
  border-top: 4px solid $red;
  border-radius: 5px;
  width: 5%;
  margin-top: 0;
  margin-bottom: 0.5em;
  opacity: 1;
}

.header-title {
  margin: 0.5em;
}

/********************/
/*** Main section ***/
/********************/

#main-section {
  position: relative;
  height: 80vh;
  background-color: $rosa;
  background-image: url('hero_illustration.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 10vh;
}

.text {
  max-width: 35vw;
}
.sub-title {
  padding-top: 1em;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
}

.text-highlight {
  background-color: $red;
  border-radius: 2px;
  color: white;
  padding: 0 3px;
}

.pagination li.active a {
  color: #fff;
}

.alert-success {
  background-color: #4D7C8A;
}

.alert-danger {
  background-color: #F5B82E;
}

#deco-left {
  position: absolute;
  left: 0;
  top: 60%;
}

#deco-right {
  position: absolute;
  right: 0;
  top: 90%;
}

#hero-credit a {
  color: white;
  text-decoration: none;
}

#hero-credit {
  bottom: 10px;
  right: 100px;
}

/***********************/
/*** Problem section ***/
/***********************/

#problem-section {
  min-height: 40vh;
  background-color: $yellow;
}

/***********************/
/*** Background section ***/
/***********************/

#background-section {
  background-color: $yellow;
}

.bg-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.dictionary {
  width: 70%;
  margin-right: 5%;
  font-family: 'Montserrat', sans-serif;
}

// blood cell image
.wrapper-blood-cell-image {
  max-width: 35%;
  position: relative;
}
.wrapper-blood-cell-image img {
  width: 100%;
}
#cells-credit {
  position: absolute;
  right: 0;
  bottom: 0;
  text-decoration: none;
  width: 100%;
  text-align: right;
}

.accordion-item {
  margin: 5px 0;
}

.accordion-header {
  border: solid 2px $red;
  border-radius: 5px;
}

.accordion-button:active,
.accordion-button:focus,
.accordion-button:not(.collapsed) {
  background-color: red;
  color: white;
  border: solid 2px $red;
  border-radius: 5px;
}