.d-flex.justify-content-center.mt-5
  .w-50.rounded.bg-white.p-3.d-flex.flex-column.shadow.border-dashed.border-dashed
    %p You have no data yet, start tracking your blood values now
    .w-30.text-center= link_to 'Add new hemigram', new_hemigram_path, class: 'btn btn-outline-dark', data: { turbo_frame: 'new_hemigram' }