<h1> Edit Hemigram </h1>

<div class="container">
  <%= render 'hemigrams/form' %>
  <%= link_to 'Delete', hemigram_path(@hemigram), method: :delete, data: { confirm: 'Are you sure you want to delete this?' }, class: 'badge badge-danger' %>
</div>
