.container.mt-5.mb-5
  .header-title.p-0.m-0
    %h2
      %span.text-highlight Create new Hemigram
  .mt-5
    = turbo_frame_tag('new_hemigram') do
      .card.mt-2
        .card-body
          .card-title Create new
          .card-text= render partial: 'hemigrams/form', locals: { hemigram: @hemigram, hemigram_date: @hemigram_date }
  = blood_tracker_button('All Hemigrams', 'btn-outline-dark')
  = graphs_button('See your data', 'btn-outline-dark')


