.container.mt-5.mb-5
  .header-title.p-0.m-0
    %h2
      %span.text-highlight Create new Hemigram
  .mt-5
    = render 'hemigrams/form'
  = blood_tracker_button('All Hemigrams', 'btn-outline-dark')
  = graphs_button('See your data', 'btn-outline-dark')


