.container.mt-5
  .header-title.p-0.m-0
    %h2
      %span.text-highlight Create new Hemigram
  .mt-5
    = render 'hemigrams/form'
  = link_to 'All Hemigrams', hemigrams_path, class: 'btn btn-outline-dark'

