.container.mt-5
  .header-title.p-0.m-0
    %h2
      %span.text-highlight My Hemigram
    .mt-5
      = render partial: 'table', locals: { hemigrams: [@hemigram] }
    %p
      = link_to 'Enter new Hemigram', new_hemigram_path, class: 'btn btn-outline-dark'
      = link_to 'All Hemigrams', hemigrams_path, class: 'btn btn-outline-dark'
