-# ensure the flash messages are rendered on the page
= render_turbo_stream_flash_messages
-#  if the date of the edited hemigram is not the same as the current, we need to render a new hemigram::date
-# accordeon with the updated hemigram
-# else we can just replace the existing hemigram entry with the updated object
- if @hemigram.record_date.date != @hemigram_date.date
  = turbo_stream.replace 'hemigrams', partial: 'hemigram_dates/hemigram_dates_accordion'
- else
  = turbo_stream.replace @hemigram, @hemigram

