.row
  .col.g-3.mb-3
    = form.date_field :record_date, class: 'datepicker form-control', id: 'input_date', max: Date.current.to_s, min: (Date.current - 100.years).to_s, required: true, placeholder: 'Choose date'
