<% flash.each do |name, message| %>
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="card-panel alert-<%= name == 'notice' ? 'success' : 'danger' %>" id="fade-out-target">
          <span class="white-text">
            <%= message %>
          </span>
        </div>
      </div>
    </div>
<% end %>
