.row.justify-content-md-center
  .col-5
    - flash.each do |name, message|
      #flash-errors{:class => "alert alert-#{name == 'notice' ? 'success' : 'danger'} alert-dismissible fade show", :role => 'alert'}
        = message
        %button.btn-close{"type" => "button", "data-bs-dismiss" => "alert", "aria-label" => "Close"}
