.row.justify-content-center
  .col-md-6.col-s-12
    - flash.each do |name, message|
      #flash-errors{:class => "alert alert-#{name == 'notice' ? 'success' : 'danger'} alert-dismissible fade show", :role => 'alert'}
        = message
