.container
  .footer-wrapper
    %p.small
      %strong.text-highlight Disclaimer:
      I do not have a medical background. All information provided on this website is gathered from diverse, hopefully trustable sources. However, I cannot guarantee the accuracy or correctness of the information. The BloodTracker, initially developed for personal reasons, is intended for informational purposes only. It should not be considered medical advice or a substitute for professional medical consultation. It is important to consult with a qualified healthcare provider for personalized advice and treatment options.
      Additionally, please note that this website may contain affiliate marketing links. If you make a purchase through these links, I may earn a commission at no additional cost to you. However, I do not endorse or have control over the products or services offered through these links. It is your responsibility to research and make informed decisions before making any purchases.
      I hope you find value in the content provided on this website and enjoy your experience!
    .footer-links
      #copyright= link_to("#{Date.today.year} copyright", 'https://theresamannschatz.design', title: 'Go to website creator portfolio site')
      = link_to('Imprint', imprint_path, class: 'btn', title: 'Go to the imprint')