%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    %a.navbar-brand{href: "#"}
      = image_tag 'logo_blood.png', class: 'logo'
      %span#logo-blood>
        Blood
      %span#logo-tracker>
        Tracker
    .wrapper
      %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", type: "button"}
        %span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        %ul.navbar-nav
          %li.nav-item
            %a.nav-link{href: root_path} Home
          %li.nav-item
            %a.nav-link{href: about_path} About
          %li.nav-item
            %a.nav-link{href: about_path} Blog
          - if user_signed_in?
            %li
              = link_to 'Account', view_user_path(current_user)
            %li
              = nav_links
          - if !user_signed_in?
            %li
              = link_to 'Sign up', new_user_registration_path, class: 'btn'
          %li
            .nav-item.dropdown
              %a.nav-link.dropdown-toggle#navbarDropdownMenuLink{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", role: "button"}
                Dropdown link
              %ul.dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
                %li
                  %a.dropdown-item{href: hemigrams_path} Data
                %li
                  %a.dropdown-item{href: graphs_path} Graphs
